html {
  height: 100vh;
  width: 100vw;
}
body{
    margin: 0;
    padding: 0;

  background-image: url("../images/bg.png");
  background-size:100% 100%;
  background-repeat: no-repeat;

}
#main {
  margin: 50px;
  font-family: Geneva, sans-serif;
  font-size: 10px;
}

.point {
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #c00;
}
.dot_container {
  position: absolute;
  padding: 1px;
  padding: 1px;
}

.dot {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 0 3px #e78267;
  float: left;
  margin: 12px -3px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot_number {
  position: relative;
}

.line {
  height: 1px;
  position: absolute;
  background-color: #000;
}
